body{
		margin:0px;
		padding-top: 0px;
	}
	/*.top-text + p{
		background-color: red;
	} */

	/*.top-text ~ p{
		background-color: red;
	}*/

	/*.top-text > p{
		background-color: red;
	}*/

	/*p:not(:nth-child(2n+1)){
		background-color: red;
	}
	p:nth-child(2n+1){
		background-color: gray;
	}*/

	.top-text2{
		background-color: gray;

	}
	.menu{
		background-color: gray;
		    padding: 15px;
	}
	.menu ul{
		list-style-type: none;
	}
	.menu ul li{
		display: inline-block;
		margin-right: 20px;
	}
	.posistion{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
	}
.copied{
     position: relative;
    cursor: pointer;
    margin-left: 4%;
}
.copied .copiedtext {
   visibility: hidden;
    background: #3c3c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: -48px;
    width: 74px;
    bottom: calc(100% + 15px);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .5px;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
}
.copiedtext::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3c3c3c;
}
.copied .copiedtext {
    visibility: visible;}

.menu_area{
	background-color: #ccc;
}

.nav_to ul{
  list-style-type: none;
}

.nav_to ul li {
    display: inline-block;
    padding: 30px 30px;
    
}
.nav_to ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
}







